<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename= 'img/logo1.jpg') }}">
    <link rel="icon" href="{{ url_for('static', filename= 'img/logo_edit.png') }}">
    <title>Café Digital | Login</title>
</head>
<body>

<!--Cabeçalho-->

<header>
    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo-edit.png') }}" alt="Logo">
    </div>
</header>

<div class="tela-login">
    <h1>Entrar</h1>
    <div class="login-e-senha">
        <input type="email" placeholder="E-mail">
        <br><br>
        <input type="password" placeholder="Senha">
    </div>
    <a href="{{url_for('area_logada')}}" class="button">
        <span>LOGIN</span>
    </a>
    <br><br>
    <div class="outras-formas-cadastro">
        <h3>____________________ OU ____________________</h3>
    </div>
    <br><br>
    <div class="google-e-apple">
        <a href="#"><img src="{{ url_for('static', filename='img/google.png') }}" alt="google"></a>
       <a href="#"> <img src="{{ url_for('static', filename='img/apple.png') }}" alt="apple"></a>
    </div>

    <a href="{{url_for('cadastrar')}}" class="button">
        <span>CADASTRE-SE</span>
    </a>
</div>
    
<script src="{{ url_for('static', filename= 'js/script.js') }}"></script>
</body>